@import url("https://use.typekit.net/xxf6zoh.css");

.headerBox {
  height: 250px;
  top: 5px;
  max-width:1200vw;
  padding-left: 50px;
  position: relative;
   margin: auto;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
  vertical-align: middle;
  background-color: #FF7D00;
}

.headerTitle {
  text-align: center; top;
  color: white;
  font-size: 100px;
  position: relative;
    font-family: Courier;
      margin: auto;
  position: float;
    font-family: Courier;
}

.headerDesc {
  text-align: center; top;
  color: white;
  font-size: 30px;
  position: relative;
  top: 10px;
    font-family: Courier;
      margin: auto;
}

.game {
    text-align: center;
  position: relative;
  margin: 0 auto;
  top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.tiles {
  display: inline-block;
  text-align: center;
}

.singleTile {

  background-color: #FFE0AE;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  padding: 10px;
  margin: 5px;
  line-height: 50px;
  float: left;

}

.tileLetter {

  font-size: 30px;
  font-family: Courier;

}

.tileScore {
  width: 20px;
  height: 20px;
  padding: 3px;
  line-height: 20px;
  float: left;
  font-size: 18;
  font-family: Courier;
  position: relative;
  bottom: 14px;
  left: 33px;

}
.userInput {
  padding: 10px;
  text-align: center;
}

.submit {
display: block;
}

.buttons {
  display: block;
  margin: 5px;
}

.scoreBox {
  background-color: #FFFFFF;
  width: 200px;
  height: 50px;
  border: 3px solid black;
  font-family: Courier;
  font-size: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 50px;

/*  float: right;
  text-align: center;
  padding: 10px;
  position: relative;
  right: 20vw;
  top: -5vh;*/
}

.remainingWords {
  font-family: Courier;
  font-size: 20px;
}

.development {
  position: absolute;
  bottom: 20px;
  text-align: center;
  vertical-align: bottom;
  margin: auto;
  left: 0;
  right: 0;
  font-family: Courier;
}
